*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    flex-direction: row;
    gap: 30px;
    padding: 50px 50px;
    flex-wrap: wrap;
    justify-content: center;
}

.container .child {
    width: calc(25% -20px);
    width: 150px;
}
.blog-post{
    border: 2px solid rgb(183, 171, 171);
    border-radius: 10px;
    min-height: 250px;
}
.blog-post img{
 width: 100%;
 border-radius: 7px;
}

@media screen and (max-width: 1024px ) {
    .container .child{
        width: calc(50% -20px);
    }
    .blog-post{
        min-height: 250px;
    }
}
@media screen and (max-width: 768px ) {
    .container .child{
        width: calc(100% -20px);
    }
    .blog-post{
        min-height: 200px;
    }
}